/* Global Styles */
:root {
  --primary-color: #384e63 !important;
  --secondary-color: #384e63 !important;
  --dark-color: #343a40 !important;
  --light-color: #f4f4f4 !important;
  --danger-color: #dc3545 !important;
  --success-color: #28a745 !important;
  --gray-color: #bdbdbd !important;
  --background-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=);
}

@import './shared/style/variable.scss';
@import '~primeicons/primeicons.css';

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url(./shared/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url(./shared/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', 'Roboto', sans-serif !important;
  font-size: 14px;
  line-height: 16px;
  background-color: #ededed;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

/* Utilities */
.container {
  margin: auto;
}
.container-login {
  max-width: 500px;
  margin: auto;
  padding: 0 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  overflow: auto;
}
.center-container {
  max-width: 500px;
  margin: auto;
  padding: 0 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: auto;
}

.btn {
  // display: inline-block;
  // background: var(--light-color);
  // color: #fff;
  padding: 0.4rem 1.3rem;
  // font-size: 1rem;
  // border: none;
  // cursor: pointer;
  margin-right: 0.5rem;
  // transition: opacity 0.2s ease-in;
  // outline: none;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  position: fixed !important;
  height: 60px !important;
  z-index: 3;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.dropbtn {
  background-color: var(bg-dark);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  border-radius: 10px;
}
.notif-content {
  min-width: 25rem;
}
.notif-content li {
  text-align: center;
}
.direct-reports-content {
  min-width: 15rem;
}
.direct-reports-content li {
  text-align: center;
}
.dropdown-content li {
  color: black;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  display: block;
}
.dropdown-content i {
  padding-right: 1.5rem;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  white-space: nowrap;
}
.dropdown-content li:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  opacity: 0.7;
}

.sidebar {
  width: $sidebar-expanded-width;
  // width: $sidebar-collapsed-width;
  margin-top: $navbar-height;
  height: 100vh;
  position: fixed;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
  overflow: hidden;
  z-index: 100;
  transition: width 0.5s;
  top: 0;
  left: 0;
  bottom: 0;
}
.sidebar.collapsed {
  // width: $sidebar-expanded-width;
  width: $sidebar-collapsed-width;
}

.sidebar:hover ~ .wrapper {
  margin-left: $sidebar-expanded-width;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.sidebar-nav-item {
  width: 100%;
}

.sidebar-nav-link {
  display: flex;
  align-items: center;
  color: var(--gray-color);
  text-decoration: none;
}

.sidebar-nav-link i {
  font-size: 1.5rem;
  color: var(--gray-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
  min-width: $sidebar-collapsed-width;
  height: 50px;
  position: relative;
}

.sidebar-nav-link:hover {
  background: #ededed;
  color: black;
  font-weight: bold;
}

.sidebar-nav-link.active {
  background: #384e63;
  color: white;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.sidebar-nav-link.active div {
  border-left: 5px solid var(--danger-color);
}

.sidebar-nav-link.active i {
  color: var(bg-dark);
  margin-left: -5px;
}

/* Cards on dashboard*/
.wrapper {
  // padding: 10px;
  width: auto;
  margin-left: $sidebar-collapsed-width;
  background: var(--second-bg-color);
  transition: margin-left 0.5s;
}
.wrapper.expanded {
  margin-left: $sidebar-expanded-width;
}
.content-wrapper .container-fluid {
  padding-top: $navbar-height !important;
}
.wrap {
  padding: 0;
  margin-left: 0;
  background: var(--second-bg-color);
  transition: margin-left 0.5s;
}
.card-contents .counter {
  background: var(--main-bg-color);
  color: var(--main-color);
  border-radius: 10px !important;
  font-weight: normal;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-contents .counter h1 {
  font-size: 75px;
  font-weight: normal;
  text-align: left;
  margin: 40% auto;
}

.card-contents .counter #middle {
  font-weight: normal;
  text-align: left;
  margin: 0 0 0 0 !important;
}

.card-lowtext {
  bottom: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.row:after,
.row:before {
  box-sizing: border-box;
}
.card-div {
  width: 100%;
}
[class*='col-'] {
  padding: 10px;
}
.counters {
  padding: 16px;
  text-align: left;
  color: #fff;
  border-radius: 10px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 0 !important;
  height: 15rem;
}
.developmentgoalscard {
  margin: 30% 50%;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  font-size: large;
}
.card-width {
  width: 100%;
  text-align: center;
}
.count p {
  font-size: smaller;
}

.counters a {
  color: white;
}

.counters i {
  color: #c4c4c4;
  margin: 0;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('../assets/images/imatmi-logo.svg') no-repeat center
    center/cover;
  height: 100vh;
}
.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }
  /* Sidebar */
  .sidebar-nav-item {
    width: 100%;
  }
  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
@media only screen and (min-width: 992px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-x {
    width: 63.77%;
  }
  .col-y {
    width: 35.33%;
  }
  .col-z {
    width: 107%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
/* Small devices >= 600px */
@media only screen and (min-width: 600px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 63.77%;
  }
}
/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

.place-items-center {
  display: grid;
  place-items: center;
  object-fit: cover;
  background-color: rgba(56, 78, 99, 0.46);
  border-radius: 10px !important;
}

.dashboard-img {
  height: 187px !important;
  border-radius: 10px !important;
}

.bg-dark-blue {
  background-color: #384e63;
}

.exhausted-women {
  height: 116% !important;
  max-width: min-content;
  float: right;
}

@media screen and (max-width: 728px) {
  .exhausted-women {
    display: none;
  }
}

.height-webkit-fill-available {
  background-color: rgba(56, 78, 99, 0.46);
  height: -webkit-fill-available;
}

.border-radius-10px {
  border-radius: 10px !important;
}

.action-plan-header {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.vertical-separater {
  border-right: 2px solid grey;
}

@media screen and (max-width: 1021) {
  .vertical-separater {
    border-right: none;
  }
}

.btn.btn-primary-imatmi {
  background-color: var(--primary-color) !important;
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.22);
  color: var(--light-color);
}

.btn.btn-primary-imatmi:hover {
  transform: scale(1.1); /* (150% zoom)*/
}

.item-center {
  place-items: center;
  display: grid;
}
.dashbord-button {
  background-color: #f9faff;
  color: #143560;
  border: none;
}
.dashbord-button:hover {
  background-color: #f9faff;
  color: #143560;
  transform: scale(1.1); /* (150% zoom)*/
}

.dashbord-subheading {
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 20px;
}

.text-dashboard {
  color: #143560;
  font-weight: 600;
}

.text-gray {
  color: var(--gray-color);
}

.p-component {
  font-family: 'Poppins', 'Roboto', sans-serif !important;
}

.btn-group-lg > .btn,
.btn-lg {
  font-size: 14px !important;
  line-height: 16px !important;
  border-radius: 20px !important;
}

.p-button.p-button-text {
  background-color: transparent !important;
  color: var(--primary-color) !important;
  border-color: transparent !important;
}

.p-button {
  color: #ffffff !important;
  background: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  padding: 0.5rem 1rem !important;
  font-size: 14px !important;
  font-family: 'Poppins', 'Roboto', sans-serif !important;
  border-radius: 20px !important;
}

// @media (min-width: 768px) .col-md-2.5 {
//   flex: 0 0 21.666667%;
//   max-width: 21.666667%;
// }

.card-bg-gradient {
  // background-color: rgb(249, 250, 255) !important;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.09) 0,
      rgb(249, 250, 255) 100%
    ),
    var(--background-noise) !important;
  border-radius: 20px !important;
}

.card.border-0 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.09) 0,
      rgb(249, 250, 255) 100%
    ),
    var(--background-noise) !important;
}

.border-radius-20px {
  border-radius: 20px !important;
}

@media print {
  html, body {
    display: none;  /* hide whole page */
  }
}